.job_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: 20px;
  }

.job_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.job_header {
    border-radius: 20px 20px 0 0;
    text-align: center;
    background-color: #33E3FF;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
} 

.job_body {
    text-align: left;
    height: 170px;
    padding: 20px;
    font-size: 20px;
    overflow: hidden;
    background-image: url('../../../images/logo_blue.png');
    background-size: cover;
} 

.job_footer {
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-size: 50px;
}


.job_text {
    white-space:normal;
    overflow: hidden;
    text-overflow: ellipsis;
    height: inherit;
    width: inherit;
    word-wrap: normal;
}

.job_card_button {
    height: inherit;
    width: 300px;
    border-radius: 0 0 20px 20px;
    color: red;
}