@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.login_verticalstack {
    padding-top: 40px;
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.login_horizontalstack {
    display: flex;
    align-items: flex-start;
    max-width: 500px;
    margin: 0 auto;
}

.login_label {
    text-align: left;
    color: red;
    font-size: 12px;
    align-self: center;
    width:250px;
}

.login_button {
    align-self: center;
}

.login_signin{
    width: 250px;
    font-weight:bold;
}