
.homecontainer {
    display: flex;
    align-items: left;
    text-align: left;
    padding-bottom: 80px;
    width: 100%;
}
.homepage_main {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    margin-top: 20px;
}